<div class="first">

    <body>
        {{!-- <form action="./first" method="get"> --}}
            <div class="main ">
                <h1>SHOW ME THE PICTURE</h1>
                <p>Choose The type of queze</p>
        {{!-- </form> --}}
        <a data-userId={{ids}} href="./scan"><button>SOCCER PLAYERS</button></a>
        <br>
        <a href="./tables"><button>COUNTRY FLAG</button></a>
        <br>

</div>

</body>
</div>