<body>
    <form action="/tables" method="get">
     <div class="header">
            <nav id="nav-bar">
                <a href="./start" class="nav-link">HOME</a>
                
                <a href="./scan" class="nav-link">SCAN PLAYER</a>
        
            </nav>
        </div>
    </form>

    <h1>TABLES .....................!!!!</h1>



</body>